---
---

@use "jekyll-theme-minimal";

.logo {
    width: 10em;
    height: 10em;
    aspect-ratio: 1;
}

.title {
    font-size: 32px;
}

#markdown-toc {
    display: block;
    padding: 8px;
    padding-inline-start: calc(8px + 2ch);
    width: max-content;
    background-color: rgba(0.5, 0.5, 0.5, 20%);
    border: 1px solid rgba(0.5, 0.5, 0.5, 75%);
    border-radius: 3px;
    color: initial;
}
#markdown-toc::before {
    content: "Table of Contents";
    font-weight: bold;
    margin-inline-start: -2ch;
}
#markdown-toc li {
    list-style-type: number;
}
#markdown-toc *:hover {
    font-weight: revert;
}
.permalink {
    padding-left: 0.25em;
    width: max-content;
    display: inline-block;
    opacity: 0;
}
.music-header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #000;
  background-color: rgba(0, 0, 0, 50%);
  color: #fff;
  margin: 0;
  padding: 0.125em;
}
.tracknumber::after {
  content: ". ";
}
.music-type {
  color: #ccc;
  margin-right: 1ch;
}
.music-download {
  color: #fcf;
}
.music-download:hover {
  color: #fdf;
  font-weight: normal;
}
.spacer {
  flex-grow: 1;
}
*:hover > .permalink, .permalink:hover {
    opacity: revert;
}

.music-list {
  border: 1px solid #000;
  border-radius: 0.75em;
  background-color: rgba(0, 0, 0, 0.25%);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.music-list > *:not(:last-child) {
  border-bottom: 1px solid #000;
}

.music-track {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.music-games {
  display: flex;
  flex-direction: column;
  margin: 0;
  flex-grow: 0.5;
}
.music-games > li {
  display: block;
}

.music li {
  display: flex;
  flex-direction: column;
  margin-top: -1em;
} 
.music li::before {
  display: inline;
  content: "-";
  position: relative;
  right: 3.5ch;
  top: 1.5em;
}
.music-file {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.music-file > audio {
  flex-grow: 1;
}
.tip {
  background-color: hsl(45deg, 75%, 75%);
  border: 1px solid #000;
  border-radius: 0.75em;
  padding: 0.25em;
}
.command-desc {
  background-color: hsl(180deg, 50%, 50%);
  border: 1px solid #000;
  border-radius: 0.75em;
  padding: 0.25em;
  color: hsl(0deg, 0%, 25%);
}
.command-desc, .tip {
  border: 1px solid #000;
  border-radius: 0.75em;
  --padding: 0.25em;
  padding: var(--padding);
  padding-top: 0;
  overflow: hidden;
}
.command-desc::before {
  content: "What this does";
}
.tip::before {
  content: "Tip!";
}
.tip::before, .command-desc::before {
  font-size: 1.25em;
  display: block;
  margin-inline: calc(0px - var(--padding));
/*  margin-top: -0.25em;*/
  padding-inline: var(--padding);
  margin-bottom: var(--padding);
  border-bottom: 1px solid #000;
  background-color: hsla(0deg, 0%, 90%, 50%);
  width: 100%;
}
.key {
  border: 1px solid #000;
  border-radius: 0.25em;
  background-color: #ccc;
  color: #000;
  padding-inline: 0.25em;
  padding-block: 0;
}
.code-inline, code.highlighter-rouge, pre.highlight {
  background-color: #f8f8f8;
  padding: 8px 15px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow: auto;
}

.code-inline, code.highlighter-rouge {
  display: inline-flex;
  padding-inline: 0.25em;
  padding-block: 0.125em;
  align-items: center;
  line-height: 1em;
}
.small-discord {
  font-size: 0.75em;
  opacity: 75%;
}
