<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
    <script src="{{ "/assets/js/do-permalink.js?v=" | append: site.github.build_revision | relative_url }}"></script>
    {% seo %}
  </head>
  <body>

      <template id="window-template">
          <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}" >
          <div class="window-resize-handle">
          <div class="window-wrapper">
          <div class="titlebar glow">
              <div class="titlebar-buttons">
                  <button class="window-btn close-btn"></button>
                  <button class="window-btn min-btn"></button>
                  <button class="window-btn max-btn"></button>
              </div>
              <div class="titlebar-title">
              (Unnamed window)
              </div>
          </div>
          <section class="window-content">
              <slot />
          </section></div></div>
      </template>
      <template id="minimized-window">
          <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}" >
          <button class="minimized-window glow">
              <img class="window-icon" />
              <span class="window-title"></span>
          </button>
      </template>
      <div id="menu" class="menu hidden-menu">
          <img class="user-picture" src="/assets/img/fluffymariline.jpg" />
          <div class="menu-title">
              {{ site.title | default: site.github.repository_name }}
          </div>
          <div class="menu-stuff">
          <ul id="main-menu" class="menu-side menu-left">
              <span class="menu-side-title">Index</span>
              {% include index.md %}
              <div class="spacer"></div>
              <!--<li><a href="/settings.html">Settings</a></li>-->
          </ul>
          <ul id="downloads-menu" class="menu-side menu-right">
              <span class="menu-side-title">Downloads</span>
              <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
              <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
              <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
          </ul>
          </div>
      </div>
      <fs-window id="main-window" title="Fluffy Browser" close-enabled="false" maximized="true">
      {{ content }}

      </fs-window>
      <fs-window id="settings-window" class="settings hidden">
          <section id="settings-content" class="window-content">

          </section>
      </fs-window>
      <footer>
          <button id="menu-btn" class="glow"><img alt="Main menu button" src="{{site.logo | relative_url}}" alt="Logo" class="logo"/>FluffyOS</button>
          <div class="minimized-window-list">
              <fs-minimized-window window-id="main-window"></fs-minimized-window>
          </div>
          <div class="spacer"></div>
          <span id="time-display" class="glow">Last updated: <code class="time-update" data-time="{{site.last_updated}}">{{site.last_updated}}</code></span>
      </footer>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/menu.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/time-fixer.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/windows.js" | relative_url }}"></script>
  </body>
</html>
